<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if flash[:notice] %>
      <div>  
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <% if current_user %>
      Signed in as <%= current_user.email %> | <%= link_to "Logout", session_path(current_user.id), method: :post %>
    <% else %>
      <%= link_to 'Login', new_session_path %> | <%= link_to 'Signup', new_user_path %>
    <% end %>

    <%= yield %>
    
  </body>
</html>
